.wrapper {
    width: 100%;
    height: var(--nav-height);

    display: flex;
    justify-content: left;
    align-items: center;

    background-color: #000;
    .nav__content {
        width: var(--content-width);
        height: 100%;
        margin: auto;
        padding: 0 15px;

        display: flex;
        justify-content: left;
        align-items: center;
    }
    .nav__item {
        position: relative;
        height: 100%;
        padding: 0 15px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--text-color);
        text-decoration: none;
        border-right: 0.5px solid #3a3a3a;

        text-transform: uppercase;

        &:hover {
            color: var(--primary-color);
            .nav__icon {
                color: var(--primary-color);
            }
        }

        .nav__icon {
            position: absolute;
            right: 10px;
            top: -5px;

            height: 100%;
            display: flex;
            align-items: center;
            color: var(--primary-color);
        }
        .his__icon {
            height: 100%;
            display: flex;
            align-items: center;
        }
        &.pd {
            padding-right: 30px;
        }
    }
}
