@import '../GlobalStyles/GlobalStyles.module.scss';
.hero-slide {
    width: 100%;
    height: 100%;

    margin-bottom: 3rem;
}
.hero-slide__item {
    @include flex(center, center);
    // justify-content: center;
    padding: 8rem 0;
    width: 100%;
    height: 740px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        // background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }

    &__content {
        @include flex(center, center);
        flex: 1;
        position: relative;
        margin: auto;
        max-width: 1000px;
        &__info {
            width: 55%;
            padding: 0 3rem;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include tablet {
                width: 100%;
            }
            & > * ~ * {
                margin-top: 3rem;
            }
            .title {
                color: var(--text-color);
                font-size: 5rem;
                font-weight: 700;
                line-height: 1;

                max-width: 90%;
                overflow: hidden;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                text-overflow: ellipsis;

                @include tablet {
                    font-size: 4rem;
                }
            }
            .overview {
                font-weight: 700;
            }
            .btns > * ~ * {
                margin-left: 1rem;
            }
            .btns,
            .title,
            .overview {
                opacity: 0;
                transform: translateY(-100px);
                transition: transform 0.5s ease, opacity 0.5s ease;
            }
            .btns {
                width: 50%;
                padding: 8px 12px;
                border-radius: 12px;
                background-color: var(--primary-color);
                color: var(--text-color);
                &:hover {
                    opacity: 0.8;
                    color: rgb(214, 57, 57);
                }
            }
        }
        &__poster {
            flex: 1;

            @include flex(center, center);
            position: relative;
            margin-right: 3rem;
            .poster-img {
                width: $poster-width;

                border-radius: $border-radius;
                box-shadow: $box-shadow;
                transform: scale(0);
                transition: transform 0.7s ease;
                @include tablet {
                    display: none;
                }
            }
        }
    }

    // & .active > &__content > &__content__poster {
    //     img {
    //         transform: scale(1);
    //     }
    // }
    // &.active > &__content > &__content__info {
    //     img {
    //         transform: scale(1);
    //     }
    // }
}
.hero-slide__item.active > .hero-slide__item__content__poster {
    .poster-img {
        transform: scale(1);
    }
}
.hero-slide__item.active
    > .hero-slide__item__content
    > .hero-slide__item__content__info {
    .btns,
    .title,
    .overview {
        opacity: 1;
        transform: translateY(0);
    }

    .title {
        transition-delay: 0.3s, 0.3s;
    }

    .overview {
        transition-delay: 0.6s, 0.6s;
    }

    .btns {
        transition-delay: 0.9s, 0.9s;
    }
}
