.type__frame {
    width: 100%;

    display: flex;
    flex-direction: column;

    color: #fff;
    h2 {
        font-weight: 400;
        text-align: center;
        font-size: 2.5rem;

        line-height: 1.45;
    }
    p {
        padding: 10px;
        margin: 15px 0;
        border: 1px solid #fff;

        text-align: left;
    }
}
